# Database migrations
recursive-include network/migrations *

# Templates & static files (includes compiled webpacks)
recursive-include network/web/templates *
recursive-include network/web/static *

# Not sure why this was even present?
exclude /
