{% import 'function/forms.html' as forms %}
{% import 'function/messages.html' as messages %}
{% extends 'object/base.html' %}

{% block content %}
    <div class="block base">
        <form action="{{ url_for('edit_object', module_name=module_name, object_type=object_type, object_id=object.id) }}" method="post" class="third block">
            {{ messages.messages() }}

            {{ forms.fields(edit_form, object) }}

            <button class="button green">Update</button>
            <small><a href="{{ url_for('view_object', module_name=module_name, object_type=object_type, object_id=object.id) }}">back to: {{ object.name }}</a></small>

            {{ csrf_input() }}
        </form>

        <form action="{{ url_for('custom_function_object', module_name=module_name, object_type=object_type, object_id=object.id, func_name='ssh') }}" method="post" class="third block align-bottom">
            <h2>SSH Details</h2>

            {% set ssh_form={
                'object_defaults': object,
                'submit': true,
                'submit_text': 'Update SSH'
            } %}
            {% include 'device/ssh_form.html' %}

            {{ csrf_input() }}
        </form>
    </div>
{% endblock %}