{% import 'function/forms.html' as forms %}
{% import 'function/flashes.html' as flashes %}
{% import 'function/tasks.html' as tasks %}
{% extends 'object/base.html' %}

{% block content %}
    <form action="" method="post" class="block base">
        <div class="third block">
            {{ flashes.messages() }}

            {{ forms.fields(edit_form, object) }}

            {{ csrf_input() }}
        </div>

        <div class="third block align-bottom">
            <h2>SSH Details</h2>

            {% if object.ssh_connected == False %}
                <div class="message error">
                    Oxypanel could not connect using these SSH details.
                </div>
            {% elif object.ssh_connected == None %}
                {% set websocket_key = get_flashed_request('device_ssh_connect') %}
                {% if websocket_key == None %}
                    <div class="message warning">
                        SSH test failed, please try again.
                    </div>
                {% else %}
                    {{ tasks.task_subscribe(
                        key=websocket_key,
                        loading_message='Testing SSH connection...',
                        end_message='Oxypanel is now connected to this device.',
                        error_message='Oxypanel could not connect using these SSH details:'
                    )}}
                {% endif %}
            {% endif %}

            {% set ssh_form = {
                'object_defaults': object,
                'submit': True,
                'submit_text': 'Update'
            } %}
            {% include 'device/ssh_form.html' %}

            {{ csrf_input() }}
        </div>
    </form>
{% endblock %}
