{% extends 'object/base.html' %}


{% block css %}
    {{ super() }}
    {{ webpack_css('network/ipblock') }}
{% endblock %}


{% block content %}
<div id="ipblock" class="block base">
    <div class="block quarter">
        <table class="meta">
            <tr>
                <td>CIDR</td>
                <td>{{ object.cidr }}</td>
            </tr>
            <tr>
                <td>IPs</td>
                <td>{{ object.ip_count }} / {{ object.network.size }}</td>
            </tr>
            <tr>
                <td>Netmask</td>
                <td>{{ object.network.netmask }}</td>
            </tr>
            <tr>
                <td>Network IP</td>
                <td>{{ object.network.network }}</td>
            </tr>
            <tr>
                <td>Broadcast IP</td>
                <td>{{ object.network.broadcast }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{% if object.network.is_private() %}
                    Private
                {% else %}
                    Public
                {% endif %}</td>
            </tr>
        </table>

        {% if object.version == '4' %}
            <h3>Automatically Add IPs</h3>
            <form action="{{
                url_for(
                    'custom_function_object',
                    module_name='network',
                    object_type='ipblock',
                    object_id=object.id,
                    func_name='auto_add_ips'
                )
            }}" method="POST">
                <button class="button green small">Add all IPs in CIDR</button>
                {{ csrf_input() }}
            </form>

            <h3>Add Individual IPs</h3>
            <form action="{{
                url_for(
                    'custom_function_object',
                    module_name='network',
                    object_type='ipblock',
                    object_id=object.id,
                    func_name='add_ips'
                )
            }}" method="POST">
                <textarea name="ips" placeholder="List IPs to add"></textarea>
                <button class="button green small">Add IPs</button>
                {{ csrf_input() }}
            </form>

        {% else %}
            <h3>Generate IPs</h3>
            <form action="{{
                url_for(
                    'custom_function_object',
                    module_name='network',
                    object_type='ipblock',
                    object_id=object.id,
                    func_name='generate_ips'
                )
            }}" method="POST" class="inline">
                <input name="size" type="text" placeholder="Number of IPs" />
                <button class="button green small">Add Ips</button>
                {{ csrf_input() }}
            </form>
        {% endif %}
    </div>

    <div class="block threequarter">
        <div class="ip-stats">
            <strong class="blue">{{ object.used_ip_count }}</strong>
            Used IPs
        </div>

        <div class="ip-stats">
            <strong class="green">{{ object.unused_ip_count }}</strong>
            Unused IPs
        </div>

        <div class="ip-stats">
            <strong>{{ object.reserved_ip_count }}</strong>
            Reserved IPs
        </div>

        <table>
            <thead><tr>
                <th>IP</th>
                <th>Status</th>
                <th>Device</th>
                {% if has_module('cloud') %}
                    <th>Service</th>
                {% endif %}
                <th></th>
            </tr></thead>
            <tbody>
                {% for ip in object.addresses %}<tr>
                    <td>{{ ip.address }}</td>
                    <td>{{ ip.status }}</td>
                    <td>{% if ip.device %}
                        <a class="relation-link" href="{{ ip.device.view_url }}">{{ ip.device.name }}</a>
                    {% endif %}</td>
                    {% if has_module('cloud') %}
                        <td>{% if ip.service %}
                            <a class="relation-link" href="{{ ip.service.view_url }}">{{ ip.service.name }}</a>
                        {% endif %}</td>
                    {% endif %}
                    <td>
                        <form action="{{
                            url_for(
                                'custom_function_object',
                                module_name='network',
                                object_type='ipblock',
                                object_id=object.id,
                                func_name='delete_ip'
                            )
                        }}" method="POST" class="inline">
                            <input type="hidden" name="id" value="{{ ip.id }}" />
                            <button href="" class="button red small">Delete</button>
                            {{ csrf_input() }}
                        </form>
                    </tr>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
