{% extends 'object/base.html' %}


{% block css %}
    {{ super() }}
    {{ webpack_css('network/device') }}
{% endblock %}


{% block js %}
    {{ super() }}
    {{ webpack_js('network/device') }}
{% endblock %}


{% block content %}
    <div id="device" class="block base">
        <div class="block eighth">
            <ul class="tablinks" data-tab-group="device">
                <li class="active" data-tab-link="status"><a href="#">Status</a></li>
                <li data-tab-link="processes"><a href="#">Processess</a></li>
                <li><a href="#"><strike>Network</strike></a></li>
            </ul>
        </div>

        <div class="block nineeighth" data-tabs="device">
            <div id="status" class="block wide" data-tab="status" data-websocket-request-key="{{ get_flashed_request('device_monitor') }}"></div>

            <div class="block wide hidden" data-tab="processes">
                ALL THE PROCESSES!
            </div>
        </div>
    </div>
{% endblock %}
